<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.dangdang.com/schema/ddframe/reg
http://www.dangdang.com/schema/ddframe/reg/reg.xsd
http://www.dangdang.com/schema/ddframe/job
http://www.dangdang.com/schema/ddframe/job/job.xsd
">

    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter" server-lists="127.0.0.1:2181"
                   namespace="testjob"
                   base-sleep-time-milliseconds="1000"
                   max-sleep-time-milliseconds="3000"
                   max-retries="3" />
    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter1" server-lists="127.0.0.1:2181"
                   namespace="testjob1"
                   base-sleep-time-milliseconds="1000"
                   max-sleep-time-milliseconds="3000"
                   max-retries="3" />
    <!--&lt;!&ndash;&lt;!&ndash; Elastic-Job在数据库中的日志 &ndash;&gt;&ndash;&gt;-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/zang?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false&amp;nullCatalogMeansCurrent=true&amp;zeroDateTimeBehavior=convertToNull"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>
    <!--event-trace-rdb-data-source="elasticJobLog"-->



    <!-- 第一个Elastic-Job分片定时任务 -->
    <job:simple id="mySimpleJob" class="top.zanghongmin.elasticjob.job.MyTest1SimpleJob" registry-center-ref="regCenter"
                cron="*/10 * * * * ?"
                sharding-total-count="3"
                description="我的第一个简单作业" overwrite="true"
                job-exception-handler="top.zanghongmin.elasticjob.config.DefaultJobExceptionHandler"  event-trace-rdb-data-source="dataSource">
        <job:listener class="top.zanghongmin.elasticjob.config.MyElasticJobListener"/>

    </job:simple>
    <!-- 第一个Elastic-Job分片定时任务 -->
    <job:simple id="mySimpleJob2" class="top.zanghongmin.elasticjob.job.MyTest2SimpleJob" registry-center-ref="regCenter"
                cron="*/10 * * * * ?"
                sharding-total-count="3"
                description="我的第一个简单作业" overwrite="true"
                job-exception-handler="top.zanghongmin.elasticjob.config.DefaultJobExceptionHandler"  event-trace-rdb-data-source="dataSource"/>

    <!-- 第一个Elastic-Job分片定时任务 -->
    <job:simple id="mySimpleJob1" class="top.zanghongmin.elasticjob.job.MyTest1SimpleJob" registry-center-ref="regCenter1"
                cron="*/10 * * * * ?"
                sharding-total-count="5"
                description="我的第一个简单作业" overwrite="true"
                job-exception-handler="top.zanghongmin.elasticjob.config.DefaultJobExceptionHandler"  event-trace-rdb-data-source="dataSource"/>

</beans>
